#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  min-width: 400px;
  width: 30vw;
  height: 666px;
  z-index: 100;
  overflow-y: scroll;
  padding: 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .containerval{
  height: 90%;
  
}
#app .header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}