header {
  height: 40px;
  padding: 10px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  
}

header svg {
  width: 101px;
  height: 10rem;
}

.tabscontainer {
  display: flex;
  align-items: center;
}
